.pshr-thumb {
  position: relative;
  max-width: 100%;
  border: 1px solid;

  img, video {
    object-fit: contain;
  }

  &__placeholder {
    /* position: absolute; */
    width: 100%;
    min-height: 3em;
    background: var(--pshr-color-placeholder);

    &:before {
      content: attr(data-extension);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }
}

@screen sm {

  .pshr-thumb {

    img, video {
      width: 100%;
      height: 100%;
    }
  }
}
