$thumb-width: 200px;
$thumb-height: 160px;

.pshr-uploader,
.pshr-upload {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // border: 1px solid black;

  @media screen and (max-width: 500px) {
    display: block;
  }

  &__thumb {
    flex: 0 0 $thumb-width;
    height: $thumb-height;
    background: grey;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    img, video {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // background: grey;
    font-size: 24px;
    line-height: 120px;
    text-align: center;

    &:before {
      content: attr(data-extension);
      width: 100%;
    }
  }

  &__info {
    position: relative;
    padding-left: .5em;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 500px) {
      padding-left: 0;
    }

    > span { display: block; }
    p { margin: 0; }
    [role="alert"] { color: red; }
  }
}

.pshr-uploader {

  &:hover {
    color: blue;
  }

  .uppy-DragDrop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $padding;
    background: none;
    border: none;
    cursor: pointer;
  }

  .uppy-DragDrop-inner {
    position: absolute;
    top: $padding;
    left: $padding;
    color: yellow;
    fill: yellow;
    font-size: 1.2em;

    * {
      display: inline;
    }
  }

  input { display: none !important; }
}

.pshr-upload,
.pshr-upload-form {
  position: relative;
  z-index: 1;

  .pshr-controls {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: $padding;

    > * {
      margin-right: .25em !important;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.pshr-upload-form {
  border: 1px solid black;

  input[type="submit"]:disabled {
    opacity: 0;
  }
}

.pshr-text--processing {
  color: yellow;
}
